.image-swiper {
    float: left;
    width: 100%;
    height: 67%;
    text-align: center;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;

    background: #111 no-repeat center;
    background-size: contain;

    /* スクリーンショットスライド用 */
    position: relative;
    font-size: 100%;

    /*padding: 0 100%;*/
    /*padding-left: 50%;
    box-sizing: border-box;*/
}
/*.image-swiper .container {
  height: 100%;
  position: relative;
}*/
.image-swiper:before {
  content: '';
  display: inline-block;
  width: 60px;
}
.image-swiper:after {
  content: '';
  display: inline-block;
  width: 60px;
}
/*.image-swiper img:first-of-type {
  margin-left: 100%;
}*/
.image-swiper img {
  display: inline-block;
  height: 100%;
  /*position: relative;
  right: 50%;*/
  padding: 0 4%;
  opacity: .5;

  /* ドラッグによる選択無効化 */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag:none;
  user-select: none;
}
.image-swiper img.active {
  opacity: 1;
}



#reload-ad {
  display: none !important;
}